

body {
    background-image: url("/images/bg4096_2304.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: end;
}

#content {
    width: 80vw;
}

#wrapper {
    display: flex;
    flex-direction: row;
}
#mainPart {
    flex-direction: column;
    background-color: #5E6E9A;
    transition: background-color 1s ease;

    height: 80vh;
    width: 30vw;

    margin: 0 0 0 10%;
    gap: 5%;

    align-items: center;
    justify-content: start;
}

#subPart {
    background-color: #ADB5CB;
    transition: background-color 1s ease;


    width: 30vw;
    height: 20vh;

    display: flex;
    align-items: start;
    justify-content: center;

}

#subBt {
    margin: 5%;
}

.label {
    font-family: "Roboto m", monospace;
    color: blue;
    font-weight: 400;
}

.regInput {
    color: #DAE2E7;
    font-family: "Roboto m", monospace;
    font-size: 1.5vh;
    padding: 10px;
    width: 25vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: #D4C7C7;
    border-radius: 10px;
}
.regInput:focus {
}

.header {
    color: #C2C2C2;
    font-family: "Roboto m", monospace;
    font-size: 200%;
    text-align: center;
    padding-top: 20px;
    transition: color 1s ease;
}

.regButtons {
    width: 15vw;
    height: 5vh;
    font-family: "Roboto m", monospace;
    font-size: 1.5vh;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: #DAE2E7;
    background: #8795B5;
    transition: color 400ms, background-color 200ms;
}

.regButtons:hover {
    color: #EDEFF5;
    background-color: #7E88C0;
}

.regButtons:active {
    color: #5B5A5A;
    background-color: #94ABDD;
}

@keyframes fadeout {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes buttonsChange {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}

.subInput {
    visibility: hidden;
}

.regFormActive.regButtons {
    transition: opacity 3s ease-out;
}

.regFormActive.regInput::placeholder {
    color: #616883; !important;

}
.regFormActive.regInput {
    color: #5E6E9A; !important;
    border-color: #5E6E9A; !important;
}

.regFormActive.subInput {
    visibility: visible;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.regFormActive.header {
    color: #5E6E9A;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

/* Родительский контейнер */
#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

#error-message {
    position: relative;
    top: 0;
    left: 0;
    width: 25vw;
    background-color: #8795B5;
    color: #DAE2E7;
    font-family: "Roboto m", monospace;
    font-size: 1.2em;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

#error-message.slide-in {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#error-message p {
    margin: 0;
    text-align: center;
}
